{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    {% if app.user %}
        <h2>Bienvenue {{ app.user.email }} !</h2>
        <h3>Vous êtes connecté en tant que {{ app.user.firstName }} !</h3>
    {% else %}
        <h2>Bienvenue visiteur !</h2>
        <p>Vous n'êtes pas connecté.</p>
        <p>Pour vous connecter : <a href="{{ path('app_login') }}">Cliquez ici</a></p>
        <p>Pour vous inscrire : <a href="{{ path('app_register') }}">Cliquez ici</a></p>
    {% endif %}

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/rapic/Documents/IUT cours/S6/wr602d/src/Controller/HomeController.php</code></li>
        <li>Your template at <code>C:/Users/rapic/Documents/IUT cours/S6/wr602d/templates/home/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
