{% extends 'base.html.twig' %}

{% block title %}Hello SubscriptionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <p>You are actually susbcribe with this : </p>
    <p>{{ subscriptionUser.title }}</p>

    <p>Here is the list of all the subscriptions:</p>
    <ul>
        {% for subscription in subscriptions %}
            <li>{{ subscription.title }}</li>
                {{ subscription.price }} € <br>
                {{ subscription.description }}.<br>
                {{ subscription.pdfLimit}} pdf max.
        {% endfor %}
    </ul>
</div>
{% endblock %}
